.about {
  margin: 0 auto;
  padding: 27px 29px;
  padding-bottom: 20px;
}

.about__title {
  margin: 0;
  margin-bottom: 86px;
  .title();
}

.about__list {
  .list-style();
  .font(17px, 20px);
  .font-bold();
}

.about__item {
  position: relative;
  margin-bottom: 83px;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__item svg {
  position: absolute;
}

.about__item path {
  fill: #63d1bb;
}

.about__item--flower svg {
  top: -54px;
  left: 10px;
}

.about__item--money svg {
  top: -53px;
  left: 2px;
}

.about__item--like svg {
  top: -48px;
  left: 9px;
}

.about__item--clew svg {
  top: -51px;
  left: 5px;
}

.about__item--rocket svg {
  top: -50px;
  left: -3px;
}

.about__item--gift svg {
  top: -52px;
  left: 5px;
}

@media (min-width: @tablet-width) {
  .about {
    width: @tablet-width;
    padding: 50px 48px;
    padding-bottom: 84px;
  }

  .about__title {
    margin-bottom: 0;
    .title-tablet();
  }

  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .font(20px, 22px);
  }

  .about__item {
    margin-top: 111px;
    margin-bottom: 0;
    width: 335px;

    &:nth-child(1),
    &:nth-child(4) {
      margin-top: 102px;
    }
  }

  .about__item--flower {
    order: -2;
  }

  .about__item--money {
    order: -1;
  }

  .about__item--clew {
    order: -2;
  }

  .about__item--rocket {
    order: -1;
  }
}

@media (min-width: @desktop-width) {
  .about {
    width: @desktop-width;
    padding: 59px 223px;
    padding-bottom: 90px;
  }

  .about__title {
    .title-desktop();
  }

  .about__item {
    width: 352px;
  }
}
