.catalog {
  width: 320px;
  margin: 0 auto;
}

.catalog__list {
  .list-style();
  padding: 30px;
  padding-bottom: 0;
}

.catalog__item {
  width: 260px;
  margin-bottom: 29px;
  border: solid 1px #ececec;

  &:hover .catalog__product-wrapper {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active .catalog__product-wrapper {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.catalog__product-picture {
  display: block;
}

.catalog__product-image {
  display: block;
  width: 260px;
}

.catalog__product-wrapper {
  padding: 26px 27px;
  padding-bottom: 22px;
}

.catalog__product-sign {
  margin-bottom: 41px;
}

.catalog__product-title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  .font-bold();
  .font(17px, 24px);
}

.catalog__product-name {
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }
}

.catalog__product-info {
  margin: 0;

  .font(13px, 30px);
  color: @main-text-color;
}

.catalog__product-buying {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.catalog__product-buying::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ececec;
}

.catalog__product-price {
  margin: 0;
  .font-bold();
  .font(15px, 24px);
}

.catalog__product-cart {
  align-self: flex-end;

  &:hover .catalog__icon {
    fill: #63d1bb;
  }

  &:focus .catalog__icon {
    fill: rgba(99, 209, 187, 0.3);
  }
}

.catalog__icon {
  width: 21px;
  height: 18px;
  fill: rgba(0, 0, 0, 0.2);
}

@media (min-width: @tablet-width) {
  .catalog {
    width: @tablet-width;
  }

  .catalog__list {
    padding: 78px 50px;
    padding-bottom: 0;
  }

  .catalog__item {
    width: 100%;
    margin-bottom: 52px;
    display: flex;
    justify-content: space-between;
  }

  .catalog__product-image {
    width: 334px;
  }

  .catalog__product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 335px;
    margin-top: 0;
    padding: 26px 27px;
    padding-bottom: 21px;
  }

  .catalog__product-sign {
    margin-bottom: 46px;
  }

  .catalog__product-name {
    margin-bottom: 3px;
    .font(20px, 24px);
  }

  .catalog__product-info {
    .font(15px, 30px);
  }

  .catalog__product-buying {
    margin: 0 4px;
  }

  .catalog__product-price {
    .font(17px, 24px);
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: @desktop-width;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    padding-top: 132px;
  }

  .catalog__item {
    width: 316px;
    margin: 0;
    margin-right: 50px;
    margin-bottom: 54px;
    flex-direction: column;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .catalog__product-image {
    width: 315px;
  }

  .catalog__product-wrapper {
    margin-top: -6px;
    width: 315px;
    min-height: 197px;
    padding-bottom: 23px;
  }

  .catalog__product-sign {
    margin-bottom: 38px;
  }

  .catalog__product-buying {
    margin: 0;
    margin-right: 5px;
  }
}
