.contacts__title {
  .font(18px, 30px);
  .font-bold();
}

.contacts__list {
  .list-style();
  .font(15px, 30px);
  color: @main-text-color;
}

.contacts__email {
  color: @main-text-color;
  border-bottom: solid 1px 63d1bb;
}
