.contacts {
  margin: 0 auto;
  padding: 35px 0;
  padding-bottom: 39px;
}

.contacts__title {
  margin: 0 29px;
  margin-bottom: 26px;

  .font(18px, 30px);
  .font-bold();
}

.contacts__wrapper {
  margin: 0 29px;
  margin-bottom: 66px;
  display: flex;
  flex-direction: column;
}

.contacts__list {
  .font(15px, 30px);
  color: @main-text-color;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__content {
  margin: 0;

  &:first-child {
    margin-right: 12%;
  }
}

.contacts__content--address {
  width: 179px;
}

.contacts__email {
  color: @main-text-color;
  border-bottom: solid 1px #63d1bb;

  &:hover {
    color: #46c1ae;
  }

  &:focus {
    color: #46c1ae;
    opacity: 0.1;
  }
}

.contacts__map {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__image {
  width: 322px;
}

.contacts__write {
  margin: 0 29px;
}

@media (min-width: @tablet-width) {
  .contacts {
    width: @tablet-width;
    padding: 62px 0;
    padding-bottom: 57px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .contacts::after {
    content: "";
    position: absolute;
    top: 47px;
    right: 53px;
    width: 47px;
    height: 81px;
    background-image: url("../../img/icon-flag.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .contacts__title {
    margin: 0 45px;
    margin-bottom: 49px;

    .title-tablet();
  }

  .contacts__wrapper {
    margin: 0 50px;
    margin-right: 70px;
    margin-bottom: 56px;
    flex-direction: row;
  }

  .contacts__list {
    .font(17px, 30px);

    &:first-child {
      margin-right: 52px;
    }
  }

  .contacts__content {
    margin: 0;

    &:first-child {
      margin-right: 24px;
    }
  }

  .contacts__content--address {
    width: 224px;
  }

  .contacts__map {
    margin-bottom: 46px;
  }

  .contacts__image {
    width: 768px;
  }

  .contacts__write {
    width: 230px;
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;
    width: 1048px;
    padding: 70px 0;
    padding-left: 171px;
    padding-bottom: 105px;
  }

  .contacts::after {
    top: 132px;
    left: 62px;
  }

  .contacts__title {
    margin: 0;
    margin-top: 70px;
    margin-bottom: 49px;
    .title-desktop();
  }

  .contacts__wrapper {
    flex-direction: column;
    margin: 0;
    margin-bottom: 79px;
    width: 350px;
  }

  .contacts__list {
    justify-content: flex-start;
    margin: 0;

    &:first-child {
      margin-bottom: 29px;
    }
  }

  .contacts__map {
    position: absolute;
    top: 70px;
    right: 0;
    margin: 0;
  }

  .contacts__image {
    width: 525px;
  }

  .contacts__write {
    align-self: flex-start;
    margin: 0;
  }
}
