.goods {
  margin: 0 auto;
}

.goods__list {
  .list-style();
  .font(19px, 24px);
}

.goods__item {
  .font-bold();
}

.goods__link {
  display: block;
  height: 103px;

  padding-top: 30px;
  padding-right: 185px;
  padding-bottom: 30px;
  padding-left: 29px;

  color: #ffffff;
  background-color: #63d1bb;

  &:hover {
    height: 108px;
    padding-bottom: 35px;

    background-color: #59d5bc;
  }

  &:focus {
    background-color: #59d5bc;
    color: rgba(255, 255, 255, 0.3);
  }
}

.goods__link--toys {
  background-color: #56c3b2;

  &:hover {
    background-color: #46c1ae;
  }

  &:focus {
    background-color: #46c1ae;
  }
}

@media (min-width: @tablet-width) {
  .goods {
    margin-top: -119px;
    width: @tablet-width;
  }

  .goods__list {
    display: flex;
    .font(20px, 30px);
  }

  .goods__link {
    height: 119px;

    padding-top: 35px;
    padding-bottom: 34px;
    padding-left: 36px;

    &:hover {
      height: 124px;
      padding-bottom: 39px;
    }
  }
}

@media (min-width: @desktop-width) {
  .goods {
    width: @desktop-width;
    padding: 0 50px;
  }

  .goods__link {
    width: 525px;
    padding-right: 395px;
  }
}
