.modal-cart-adding {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 36px;
  padding-bottom: 46px;
  box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
}

.modal-cart-adding__title {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  .title();
  text-transform: uppercase;
}

.modal-cart-adding__intro {
  margin-bottom: 28px;
  font-weight: 400;
  .font(15px, 30px);
  color: @main-text-color;
}

.modal-cart-adding__list {
  display: flex;
  .list-style();
  margin-bottom: 31px;
}

.modal-cart-adding__item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.modal-cart-adding__size {
  width: 82px;
  height: 52px;
  flex-grow: 1;

  .font-bold();
  .font(17px, 16px);
  color: @main-text-color;
  background-color: #ffffff;
  border: solid 2px rgba(68, 68, 68, 0.1);

  &:hover {
    border-color: rgba(68, 68, 68, 0.3);
  }

  &:focus {
    border-color: #63d1bb;
    outline: none;
  }

  cursor: pointer;
}

.modal-cart-adding__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 52px;

  .font-bold();
  .font(17px, 16px);
  color: #ffffff;
  background-color: #63d1bb;
  border: none;
  text-transform: uppercase;

  &:hover {
    color: #ffffff;
    background-color: @main-text-color;
    transition-duration: 0.5s;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: @main-text-color;
    outline: none;
  }

  cursor: pointer;
}

.modal-cart-adding--open {
  display: flex;
}

@media (min-width: @tablet-width) {
  .modal-cart-adding {
    width: 566px;
    padding: 0 106px;
    padding-top: 51px;
  }

  .modal-cart-adding__title {
    .font(30px, 57px);
    margin-bottom: 32px;
  }

  .modal-cart-adding__intro {
    margin-bottom: 26px;
    .font(17px, 30px);
  }
}
