.page-footer {
  position: relative;
  margin: 0 auto;
  padding: 23px 70px;
  background-color: #f1f1f1;
}

.page-footer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  width: 81%;
  height: 1px;
  background-color: #ececec;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin-bottom: 50px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: @tablet-width;
    padding: 51px 50px;
  }

  .page-footer::after {
    display: none;
  }

  .page-footer__wrapper {
    display: flex;
    align-items: center;
  }

  .page-footer__logo {
    display: block;
    margin-right: 159px;

    &:hover path {
      fill: #46c1ae;
    }

    &:focus path {
      fill: #46c1ae;
      fill-opacity: 0.3;
    }
  }

  .page-footer__image {
    width: 102px;
    height: 34px;
  }

  .page-footer__social {
    max-width: 142px;
    margin-bottom: 0;
  }

  .page-footer__copyright {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: @desktop-width;
  }

  .page-footer__logo {
    margin-right: 349px;
  }
}
