.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: inset 0 1px 0 0 #ececec;
}

.page-header__logo {
  align-self: center;
  padding: 22px 51px;
  height: 79px;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: @tablet-width;
    box-shadow: inset 0 -1px 0 0 #ececec,
      inset 1px 0 0 0 #ececec;
  }

  .page-header::after {
    content: "";
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    height: 1px;
    box-shadow: inset 0 1px 0 0 #ececec;
  }

  .page-header__logo {
    padding: 0;
    position: absolute;
    top: 22px;
    left: 49px;
    z-index: 5;
    height: 88px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    box-shadow: inset 0 -1px 0 0 #ececec;
  }

  .page-header::after {
    top: 87px;
  }

  .page-header__logo {
    top: 9px;
    left: 500px;
  }
}
