.page-header {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    width: @tablet-width;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
  }
}
