.product-of-the-week__title {
  .title()
}

.product-of-the-week__legend {
  .font(17px, 20px);
  .font-bold();
  color: #63d1bb;
  text-transform: uppercase;
}

.product-of-the-week__description {
  .font(15px, 24px);
  color: @main-text-color;
}

.product-of-the-week__list {
  .font(15px, 20px);
  color: @main-text-color;
  border-collapse: collapse;
}

.product-of-the-week__row {
  border-bottom: solid 1px #f2f2f2;
}

.product-of-the-week__price {
  .font(17px, 24px);
  .font-bold();
  color: @main-text-color;
}

