.production {
  margin: 0 auto;
  width: 320px;
}

.production__wrapper {
  margin: 30px;
  border: solid 1px #ececec;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__title {
  position: relative;
  margin-top: 29px;
  margin-right: 43px;
  margin-bottom: 26px;
  margin-left: 91px;
  .font-bold();
  .font(17px, 24px);
}

.production__title svg {
  position: absolute;
  top: 6px;
  left: -57px;
}

.production__title path {
  fill: #63d1bb;
}

.production__video {
  position: relative;
  margin: 0;
}

.production__video::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -38px;
  margin-left: -50px;
  width: 101px;
  height: 77px;
  background-image: url("../../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  transition: all 0.3s;
  transform: scale(1);
}

.production__video:hover::after {
  transform: scale(1.2);
}

.production__video:active::after {
  transform: scale(0.8);
  opacity: 0.3;
}

.production__image {
  width: 260px;
}

.production__description {
  margin-top: 34px;
  margin-right: 40px;
  margin-bottom: 29px;
  margin-left: 34px;
  .font(13px, 24px);
  color: @main-text-color;
}

.production__button {
  margin: 0 34px;
  margin-bottom: 33px;
}

@media (min-width: @tablet-width) {
  .production {
    width: @tablet-width;
  }

  .production__wrapper {
    margin: 52px;
    margin-bottom: 63px;
    display: flex;
    flex-direction: column;
  }

  .production__title {
    margin: 0 107px;
    .font(20px, 24px);
  }

  .production__title svg {
    top: -4px;
    left: -65px;
  }

  .production__video {
    order: -1;
    margin-bottom: 42px;
  }

  .production__image {
    width: 668px;
  }

  .production__description {
    margin: 40px;
    .font(15px, 30px);
  }

  .production__button {
    margin: 0 42px;
    margin-bottom: 46px;
  }
}

@media (min-width: @desktop-width) {
  .production {
    width: @desktop-width;
  }

  .production__wrapper {
    position: relative;
    margin: 0 50px;
    margin-bottom: 105px;
    padding-left: 682px;
  }

  .production__title {
    margin-top: 100px;
    margin-right: 140px;
    margin-bottom: 42px;
    margin-left: 79px;
  }

  .production__title svg {
    top: -53px;
    left: 1px;
  }

  .production__video {
    position: absolute;
    top: 0;
    left: 0;
  }

  .production__image {
    width: 682px;
  }

  .production__description {
    margin: 0 78px;
    margin-right: 67px;
    margin-bottom: 51px;
  }

  .production__button {
    margin: 0 80px;
    margin-right: 57px;
    margin-bottom: 60px;
  }
}
