.reviews__title {
  .title();
}

.reviews__text {
  .font(15px, 30px);
  color: @main-text-color;
}

.reviews__author-name {
  .font(17px, 24px);
  .font-bold();
  font-style: normal;
}

.reviews__author-nick {
  .font(17px, 30px);
  color: @main-text-color;
}
