.site-list {
  .list-style();
  .font(17px, 24px);
}

.site-list__item {
  font-family: @font-bold;
  font-weight: 700;
}

.site-list__link {
  color: #000000;
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }
}
