.social {
  display: flex;
  justify-content: center;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  .list-style();
}

.social__item {
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }

  &:hover path {
    fill: #46c1ae;
  }

  &:active path {
    fill: rgba(70, 193, 174, 0.3);
  }
}

.social__link {
  &:first-child {
    margin-left: 0;
  }
}

.social__link path {
  fill: #000000;
}
