.button {
  .font-bold();
  .font(17px, 20px);
  text-transform: uppercase;
  color: @main-text-color;
  background-color: #ffffff;
  border: solid 2px @main-text-color;

  &:hover {
    color: #ffffff;
    background-color: @main-text-color;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: @main-text-color;
  }

  cursor: pointer;
}
